html .site-component-container {
    .site-component-row {

        .title-text, .body-text {
            font-family: 'Poppins', sans-serif;
            position: relative;
        }
        
        .body-text-2 {
            font-family: 'Roboto', sans-serif;
            position: relative;
        }
        
        ._dark-grey {
            color: @dark-grey;
        }
        
        ._dark-grey-2 {
            color: @dark-grey-2;
        }
        
        ._blue-black-tint-2 {
            color: @black-blue-tint-2;
        }
        
        ._brand-yellow {
            color: @brand-yellow;
        }
        
        ._white {
            color: white;
        }
        
        ._uppercase {
            text-transform: uppercase;
        }
        
        .regular {
            font-weight: 400;
        }
        
        ._medium {
            font-weight: 500;
        }
        
        ._bold {
            font-weight: bold;
        }
        
        ._line-height-1 {
            line-height: 1;
        }
        
        ._line-height-1-1 {
            line-height: 1.1;
        }
        
        ._line-height-1-2 {
            line-height: 1.2;
        }
        
        
        ._13 {
            font-size: 13px;
        }
        
        ._16 {
            font-size: 16px;
        }
        
        ._17 {
            font-size: 18px;
        }
        
        ._18 {
            font-size: 18px;
        }
        
        ._20 {
            font-size: 20px;
            
            @media @medium-down {
                font-size: 18px;
            }
        }

        ._21 {
            font-size: 21px;
            
            @media @medium-down {
                font-size: 18px;
            }
        }
        
        ._24 {
            font-size: 24px;
        
            @media @large-down {
                font-size: 22px;
            }
            
            @media @medium-down {
                font-size: 20px;
            }
        }
        
        ._32 {
            font-size: 32px;
        
            @media @large-down {
                font-size: 28px;
            }
        
            @media @medium-down {
                font-size: 26px;
            }
        }

        ._33 {
            font-size: 33px;
        
            @media @large-down {
                font-size: 28.5px;
            }
        
            @media @medium-down {
                font-size: 26px;
            }
        }
        
        ._48 {
        
            font-size: 48px;
        
            @media @large-down {
                font-size: 42px;
            }
        
            @media @medium-down {
                font-size: 38px;
            }
        }
        
        ._60 {
            font-size: 60px;
        
            @media @large-down {
                font-size: 52px;
                
            }
        
            @media @medium-down {
                font-size: 45px;
            }
        }
        
        ._80 {
            font-size: 80px;
            line-height: 1;
        
            @media @large-down {
                font-size: 70px;
                
            }
        
            @media @medium-down {
                font-size: 50px;
            }
        }

    }
}

