@x-large-up:    ~"only screen and (min-width: 1401px)";
@x-large-down:  ~"only screen and (max-width: 1400px)";

@large-up:   ~"only screen and (min-width: 1200px)";
@large-down:   ~"only screen and (max-width: 1199px)";

@medium-up:   ~"only screen and (min-width: 992px)";
@medium-down:   ~"only screen and (max-width: 991px)";

@small-up:   ~"only screen and (min-width: 768px)";
@small-down:   ~"only screen and (max-width: 767px)";

@x-small-up:   ~"only screen and (min-width: 577px)";
@x-small-down:   ~"only screen and (max-width: 576px)";

@black-blue-tint: #34404C;
@black-blue-tint-2: #2E3844;
@brand-yellow: #D7DE27;
@greenish-yellow: #B5BA23;
@brand-pink: #D383F1;
@tinted-black-1: #100903;
@dark-grey: #707070;

@dark-grey-2: #59595B;
@translucent-dark-grey-2: #59595B90;

@light-blue: #EDF0F4;