html .site-component-container.a1-accordion-container {

    padding-top: 30px;
    padding-bottom: 30px;

    @media @large-down {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .site-component-row.a1-accordion-row {

        .a1-content-column {
            @media @medium-down {
                margin-bottom: 30px;
            }
        }
        
        .content-wrapper {
            .title-text {
                margin-bottom: 45px;

                @media @medium-down {
                    margin-bottom: 30px;
                }
            }

            .description {
                margin-bottom: 30px;

                @media @medium-down {
                    margin-bottom: 15px;
                }
            }
            
        }

        .accordion {
            --bs-accordion-border-color: none;
        }

        .accordion-item {
            border-top: 1px solid @light-grey;
            border-bottom: 1px solid @light-grey;
            margin-top: -1px;

            .accordion-button {

                padding: 30px 0;
                position: relative;

                @media @medium-down {
                    padding: 15px 0;
                }
    
                &:focus {
                    box-shadow: none;
                }
    
                &:not(.collapsed) {
                    background-color: unset;
                }

                &::after {
                    background-image: unset;
                    display: flex;
                    content: '\2b';
                    align-items: center;
                    margin-top: 1px;
                    font-family: "FontAwesome";
                    justify-content: center;
                    margin-left: 0;
                    font-size: 20px;
                    font-weight: bold;
                    color: @greenish-yellow;
                    will-change: transform;
                    transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    transition: 0.35s transform;
                    -webkit-transition: 0.35s transform;
                    right: 0;
                    position: absolute;
                }

                &:not(.collapsed)::after {
                    background-image: unset;
                    display: flex;
                    content: '\f068';
                    font-family: "FontAwesome";
                    align-items: center;
                    justify-content: center;
                    margin-left: 0;
                    font-size: 20px;
                    box-shadow: none;
                    will-change: transform;
                    transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    transition: 0.35s transform;
                    -webkit-transition: 0.35s transform;
                }

            }

            .accordion-body {
                padding: 15px 0 15px;

                @media @medium-down {
                    padding: 15px 0 15px;
                }
            }
        }



    }
}