.site-component-container.carousel-container {

    background-color: @greenish-yellow;
    padding: 130px 0;
    overflow: hidden;
    --bs-gutter-x: 0;

    
    .carousel-row {
        --bs-gutter-x: 0;
        // margin-left: ~'calc((80vw / 1) - 1000px)';


        
        .owl-stage {
            display: flex;
            // margin-left: ~'calc((-20vw / 6) - 250px)';
        }

        .owl-nav {
            position: absolute;
            top: 0;
            bottom: 0;
            height: fit-content;
            margin: auto;
        }

        .owl-item.active.center::before {
            content: '';
            position: absolute;
            top:0;
            right: 100%;
            bottom: 0;
            width: 60%;
            background-color: @greenish-yellow;
        }

        .owl-item.cloned:not(.active) {

            .snippet-wrapper {
                background-color: @greenish-yellow;
                color: @greenish-yellow;
            }
        }

        .item {
            display: flex;
            height: 100%;

            .carousel-image-wrapper {
                width: 50%;
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }

            .snippet-wrapper {
                width: 50%;
                background-color: white;
                padding: 70px;
            }
        }
    }

}