.site-component-container.carousel-container {

    background-color: @greenish-yellow;
    padding: 130px 0;
    overflow: hidden;
    --bs-gutter-x: 0;

    @media @medium {
        padding: 50px 0;
    }

    .carousel-row {
        --bs-gutter-x: 0;

        .owl-stage {
            display: flex;
        }

        .owl-nav {
            position: absolute;
            top: 0;
            bottom: 0;
            height: fit-content;
            margin: auto;

            button {
                height: 30px;
                width: 30px;
                border-radius: 100%;
                background-color: white;
                position: absolute;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

                svg {
                    color: @greenish-yellow;
                }
            }

            .owl-prev {
                left: 30px;

                @media @medium {
                    left: 15px;
                }
            }

            .owl-next {
                right: 30px;

                @media @medium {
                    right: 15px;
                }
            }
        }

        .owl-item.active.center::before {
            content: '';
            position: absolute;
            top:0;
            right: 100%;
            bottom: 0;
            width: 60%;
            background-color: @greenish-yellow;
        }

        .owl-item.cloned:not(.active) {

            .snippet-wrapper {
                background-color: @greenish-yellow;
                color: @greenish-yellow;
            }
        }

        .item {
            display: flex;
            height: 100%;

            @media @medium-down {
                flex-direction: column;
            }

            .carousel-image-wrapper {
                width: 50%;

                @media @medium-down {
                    width: 100%;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }

            .snippet-wrapper {
                width: 50%;
                background-color: white;
                padding: 70px;
                height: 100%;
                justify-content: space-between;
                display: flex;
                flex-direction: column;


                @media @medium-down {
                    width: 100%;
                    padding: 15px;
                    

                }
            }
        }
    }

}

.carousel {
	
	margin-bottom: 30px;
	
	@media @margin-down {
		margin-bottom: 15px;
	}

    .active.carousel-item-right, .carousel-item-next,
    .active.carousel-item-left, .carousel-item-prev
    {
        -webkit-transform: unset;
        transform: unset;
    }

    .carousel-item {
        height: 100%;

        img {
            object-fit: cover;
            height: 50vw;
            max-height: 60vh;
            min-height: 550px;
            width: auto;

            @media @small-down {
                height: 450px;
				min-height: 450px;
            }

            @media @x-small-down {
                height: 350px;
				min-height: 350px;
            }
        }
    }
}